@page
@model FlightAlright.Pages.Admin.AirportManagementModel
@{
}

<!-- _VerticalMenu.cshtml -->
@{
    string GetActiveClass(string pageName)
    {
        return ViewContext.RouteData.Values["Page"].ToString().EndsWith(pageName) ? "active" : "";
    }
}

<div class="row">
    <div class="col-md-auto">
        <div class="admin-menu">
            <a asp-page="./AdminProfile" class="@GetActiveClass("/AdminProfile")">Konto</a>
            <a asp-page="./PersonelManagement" class="@GetActiveClass("/PersonelManagement")">Personel</a>
            <a asp-page="./AirportManagement" class="@GetActiveClass("/AirportManagement")">Lotniska</a>
            <a asp-page="./FleetManagement" class="@GetActiveClass("/FleetManagement")">Flota</a>
        </div>
    </div>
    <div class="col bg-light">
        <form method="post">
            <h3>Dodaj nowe lotnisko</h3>
            <div class="form-group">
                <label asp-for="NewAirport.Code" class="form-label"></label>
                <input asp-for="NewAirport.Code" class="form-control" maxlength="1" />
            </div>
            <div class="form-group">
                <label asp-for="NewAirport.Name" class="form-label"></label>
                <input asp-for="NewAirport.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewAirport.City" class="form-label"></label>
                <input asp-for="NewAirport.City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewAirport.Country" class="form-label"></label>
                <input asp-for="NewAirport.Country" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
        <h4 class="mt-5">Istniejące lotniska</h4>

        @if (Model.ExistingAirports.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kod</th>
                        <th>Nazwa</th>
                        <th>Miasto</th>
                        <th>Kraj</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var airport in Model.ExistingAirports)
                    {
                        <tr>
                            <td>@airport.Id</td>
                            <td>@airport.Code</td>
                            <td>@airport.Name</td>
                            <td>@airport.City</td>
                            <td>@airport.Country</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Brak dodanych lotnisk.</p>
        }
    </div>
</div>