@page
@model FlightAlright.Pages.Admin.FleetManagementModel
@{
    ViewData["Title"] = "Zarządzanie Flotą";
}

<!-- _VerticalMenu.cshtml -->
@{
    string GetActiveClass(string pageName)
    {
        return ViewContext.RouteData.Values["Page"].ToString().EndsWith(pageName) ? "active" : "";
    }
}

<div class="row">
    <div class="col-md-auto">
        <div class="admin-menu">
            <a asp-page="./AdminProfile" class="@GetActiveClass("/AdminProfile")">Konto</a>
            <a asp-page="./PersonelManagement" class="@GetActiveClass("/PersonelManagement")">Personel</a>
            <a asp-page="./AirportManagement" class="@GetActiveClass("/AirportManagement")">Lotniska</a>
            <a asp-page="./FleetManagement" class="@GetActiveClass("/FleetManagement")">Flota</a>
            <a asp-page="./FlightManagement" class="@GetActiveClass("/FlightManagement")">Loty</a>
        </div>
    </div>
    <div class="col bg-light">
        <!--add to fleet-->
        <div class="container">
            <div class="row">
                <form method="post" asp-page-handler="SelectBrand" class="col-md-3">
                    <div class="form-group">
                        <label for="selectbrand">Marka:</label>
                        <select id="selectbrand" class="form-control" asp-for="SelectedBrandId" asp-items="Model.brands" name="SelectedBrandId" onchange="this.form.submit()">
                            <option value="">-- Wybierz markę --</option>
                        </select>
                    </div>
                </form>

                <form method="post" asp-page-handler="AddToFleet" class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Model:</label>
                                <select class="form-control" asp-for="SelectedModelId" asp-items="Model.models">
                                    <option value="">-- Wybierz model --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="count">Ilość</label>
                                <input id="count" class="form-control" type="number" asp-for="count" value="1" min="1" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group" style="margin-top: 32px;">
                                <button id="add_to_fleet_button" type="submit" class="btn btn-primary">Dodaj do floty</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br />

        <!--add to selection-->
        <form method="post" asp-page-handler="AddModel">
            <div class="row">
                <div class="col">
                    <label for="brand">Marka: </label>
                    <input id="brand" class="form-control" type="text" asp-for="NewBrandName" />
                    <select class="form-control" asp-for="SelectedBrandId" asp-items="Model.brands">
                        <option value="">-- Lub wybierz istniejącą --</option>
                    </select>
                </div>
                <div class="col">
                    <label for="model">Model: </label>
                    <input id="model" class="form-control" type="text" asp-for="NewModelName" required />
                </div>
                <div class="col">
                    <label for="range">Zasięg: </label>
                    <input id="range" class="form-control" type="number" value="100" min="0" asp-for="maxRange" />
                </div>
                <div class="col">
                    <div class="row">
                        <button id="add_plane_button" type="submit" class="btn btn-primary">Dodaj do wyboru</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary mt-2" onclick="addOption()">Dodaj klasę</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row" id="optionsContainer">
                    <!--classes will be here-->
                </div>
            </div>
        </form>
        <br />
        <!--plane list-->
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
						<th>Id</th>
                        <th>Status</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Zasięg</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var plane in Model.fleet)
                    {
                        <tr>
							<td>@plane.Id</td>
							<td width="40">@plane.Status</td>
                            <td>@plane.Brand.Name</td>
                            <td>@plane.Brand.Model</td>
                            <td>@plane.Brand.MaxDistance</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        let optionIndex = 0;

        function addOption() {
            const container = document.getElementById("optionsContainer");

            const row = document.createElement("div");
            row.classList.add("option-row", "mb-2");
            row.innerHTML = `
                
                <input name="classes[${optionIndex}].Name" placeholder="Nazwa klasy" class="form-control d-inline-block w-25" />
                <input name="classes[${optionIndex}].SeatsNumber" placeholder="Ilość miejsc" type="number" min="1" class="form-control d-inline-block w-25" />
                <button type="button" class="btn btn-danger" onclick="removeOption(this)">❌</button>
            `;
            container.appendChild(row);
            optionIndex++;
        }

        function reindexOptions() {
            const rows = document.querySelectorAll("#optionsContainer .option-row");
            rows.forEach((row, i) => {
                row.querySelectorAll("input").forEach(input => {
                    if (input.name.includes(".Name")) input.name = `classes[${i}].Name`;
                    if (input.name.includes(".SeatsNumber")) input.name = `classes[${i}].SeatsNumber`;
                });
            });
            optionIndex = rows.length;
        }


        function removeOption(button) {
            const row = button.parentElement;
            row.remove();
            reindexOptions();
        }
    </script>
}