@page
@model FlightAlright.Pages.Employees.FlightScheduleModel
@{
    ViewData["Title"] = "Twój grafik lotów";
}

<div class="col bg-light">
    <form method="post">
        <h2>Witaj, @Model.Account.Name!</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }

        <p>To jest panel pracownika.</p>
        @if (Model.Account.RoleId == 2)
        {
            <div class="mt-3">
                <a asp-page="/Employees/EditProfile" class="btn btn-warning">Edytuj profil</a>
            </div>
            <br>
        }
    </form>
</div>
<h3>@ViewData["Title"]</h3>
@if (Model.Flights.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numer lotu</th>
                <th>Miasto wylotu</th>
                <th>Miasto przylotu</th>
                <th>Data</th>
                <th>Załoga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model.SchedulePositions)
            {
                <tr>
                    <td>@flight.Item1.Id</td>
                    <td>@flight.Item1.DepartureAirport?.Name</td>
                    <td>@flight.Item1.ArrivalAirport?.Name</td>
                    <td>@flight.Item1.ArrivalDate?.AddHours(@flight.Item1.ArrivalAirport.TimeZoneOffset.Value)</td>
                    <td>
                        <ul>
                            @foreach (var member in flight.Item2)
                            {
                                <li>@member.Employee?.Account?.Name @member.Employee?.Account?.Surname</li>
                            }
                        </ul>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie masz przypisanych lotów.</p>
}
