@page
@model FlightAlright.Pages.Employees.FlightScheduleModel
@{
    ViewData["Title"] = "Twój grafik lotów";
}

<h2>@ViewData["Title"]</h2>
@{
    string GetActiveClass(string pageName)
    {
        return ViewContext.RouteData.Values["Page"].ToString().EndsWith(pageName) ? "active" : "";
    }
}
<div class="row">
    <div class="col-md-auto">
        <div class="admin-menu">
            <a asp-page="./EmployeeProfile" class="@GetActiveClass("/EmployeeProfile")">Konto</a>
            <a asp-page="./FlightSchedule" class="@GetActiveClass("/FlightSchedule")">Grafik</a>
            <a asp-page="./EmployeeFlights" class="@GetActiveClass("/EmployeeFlights")">Loty</a>
        </div>
    </div>
    <div class="col bg-light">
@if (Model.Flights.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numer lotu</th>
                <th>Miasto wylotu</th>
                <th>Miasto przylotu</th>
                <th>Data</th>
                <th>Załoga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model.Flights)
            {
                <tr>
                    <td>@flight.PlaneId</td>
                    <td>@flight.DepartureAirport</td>
                    <td>@flight.ArrivalAirport</td>
                    <td>@flight.ArrivalDate</td>
                    <td>
                        <ul>
                            @foreach (var member in flight.Crew)
                            {
                                <li>@member.Employee?.Account?.Name @member.Employee?.Account?.Surname</li>

                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie masz przypisanych lotów.</p>
}
